@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Flex', sans-serif;
  height: 100vh;
  background-color: #F2F3F4;
  color: #0B1524;
}

.app {
  height: max-content;
  min-height: 100vh;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}